.ticket{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 30px 25px 20px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
}

.airline{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.airline > span{
    color: #595959;
    font-size: 16px;
    font-weight: 500;
    margin-left: 25px;
}

.flight-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.schedule{
    display: flex;
    align-items: center;
}

.schedule p{
    font-size: 24px;
    font-weight: 500;
    margin: 0;
}

.schedule span{
    color: #6B6B6B;
    font-size: 12px;
    font-weight: 400;
}

.frame {
    width: 30%;
    /* background-color: rebeccapurple; */
}

.frame img {
    /* background-color: rebeccapurple; */
    width: 100%;
    object-fit: cover;
}

.schedule > div:nth-of-type(2){
    display: flex;
    position: relative;
    bottom: 8px;
    margin: 0 20px;
}

.duration{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.duration p{
    color: #595959;
    font-size: 16px;
    font-weight: 400;
    margin: 3px 0 5px;
}

.duration span{
    color: #6B6B6B;
    font-size: 12px;
    font-weight: 400;
}

.facilities{
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pricetag{
    position: relative;
    top: 10px;
    display: flex;
    align-items: baseline;
}

.pricetag p{
    color: #2395FF;
    font-size: 16px;
    font-weight: 500;
}

.pricetag span{
    color: #979797;
    font-size: 14px;
    font-weight: 500;
    margin-left: 5px;
}

.select{
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2395FF;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    box-shadow: 0 1px 4px rgba(18, 22, 33, .12);
}