.card{
    height: 265px;
    width: 215px;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border: none;
    border-radius: 25px;
    margin: 0 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
}

.thumbnail{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.card > span{
    font-size: 14px;
    font-weight: 600;
    padding: 10px 15px 0;
}

.detail{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px 0;
}

.detail span{
    font-size: 24px;
    font-weight: 600;
}